registry=https://registry.npmjs.org


strict-peer-dependencies=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*ice*
public-hoist-pattern[]=*react-router*
public-hoist-pattern[]=create-app-shared
public-hoist-pattern[]=react-app-renderer
public-hoist-pattern[]=process
public-hoist-pattern[]=query-string
public-hoist-pattern[]=history
public-hoist-pattern[]=@loadable/component
public-hoist-pattern[]=regenerator-runtime
public-hoist-pattern[]=@ahooksjs/use-request
public-hoist-pattern[]=tslib
public-hoist-pattern[]=husky
public-hoist-pattern[]=is-ci
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=commitizen
public-hoist-pattern[]=cz-conventional-changelog